a {
  color: #11999E;
}

a:hover {
  color: white;
}
body {
  margin: 0;
  text-align: center;
  color: #40514E;
  background-color: #FFFFFD;
}

h1 {
  color: #11999E;
  font-size: 562.5%;
  line-height: 2;
  margin: 50px auto 0;
  font-family: 'Carattere', cursive;
}

h2 {
  font-family: 'Zen Antique', cursive;
  color: #11999E;
  margin:50px auto 50px;
}

h3 {
  font-family: 'Zen Antique', serif;
  color: #11999E;
}

hr {
  margin: 50px auto 50px;
  width: 4%;
  border: dotted #cce6ff 12px;
  border-bottom: none;
}

p {
font-family: 'Zen Antique', serif;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 30px;
}

.bottom-cloud {
  position: absolute;
  left: 180px;
  top: 470px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: 'Zen Antique', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f638d 2px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.contact-me {
  margin-bottom: 100px;
}
.copyright {
  color: white;
}

.footer-link {
  margin: 20px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Zen Antique', serif;
}

.pic-rule {
  margin-top: 50px;
  width: 15%;
}

.pic-rule-left {
  width: 25%;
  float : left;
  margin-right: 20px;
}

.pic-rule-right {
  width: 25%;
  float : right;
  margin-left: 20px;
}


.subtitle {
  font-weight: normal;
  width: 50%;
  margin: 50px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
  line-height: 2;
}
.top-container {
  background-color: #EAF6F6;
  padding: 100px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 80px;
}

.web {
  text-decoration: underline;
}
